include /includes/_config

doctype html
html(lang="en")
  head
    title 
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href='assets/css/style.css', rel='stylesheet')
  body
  
    include /includes/_header
    
    include /includes/_about
    
    include /includes/_work
    
    include /includes/_clients
    
    include /includes/_contact
    
    include /includes/_contact_form
    
    include /includes/_footer
    
    include /includes/_scripts
    
    script(type='text/javascript', src='assets/js/functions.js')
