include /includes/_config

section#clients.section-clients

  h3 Clients
  
  .client-controls
    .client-control-prev
    .client-control-next
  
  .clients-belt
    .client-unit
      .client-face
        img(src="assets/images/clients/face-amine-hamadache.jpg" alt="client face")
        strong.client-name Amine Hamadache
        em.client-title Proprietor, A&M Hamadache Car Detailing 
      .client-content
        p 
          <strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit, </strong>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
    
    .client-unit
      .client-face
        img(src="assets/images/clients/face-eugenio-vilela.jpg" alt="client face")
        strong.client-name Eugênio Vilela
        em.client-title Director, Alves & Vilela Lawyer Consulting 
      .client-content
        p 
          <strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit, </strong>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 

    .client-unit
      .client-face
        img(src="assets/images/clients/face-oem-gps.jpg" alt="client face")
        strong.client-name Amine Hamadache
        em.client-title CEO & Founder, OEM GPS Australia 
      .client-content
        p 
          <strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit, </strong>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
  
    //- .client-unit
    //-   .client-face
    //-     img(src="assets/images/clients/face-teleject.jpg" alt="client face")
    //-     strong.client-name Simon
    //-     em.client-title Proprietor, Toy Maker Classic Automobiles 
    //-   .client-content
    //-     p 
    //-       <strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit, </strong>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                    
  .clients-logos
    .client-logo
      span
      img(src="assets/images/clients/logo1.png" alt="logo")
    .client-logo
      span
      img(src="assets/images/clients/logo2.png" alt="logo")
    .client-logo
      span
      img(src="assets/images/clients/logo3.png" alt="logo")
    //- .client-logo
    //-   span
    //-   img(src="assets/images/clients/logo4.png" alt="logo")
    
