- var title = "Fernando Martins"
- var kicker = "Freelance // Web Developer // Sydney"
- var about = "<strong>Fernando specialises in web development.</strong> Most of things he makes are related to coding web apps to help people in their daily tasks, but he also puts effort into translating digital interfaces to responsive websites."
- var skills_labels = ['Communication', 'Organization', 'Learning', 'Teaching', 'Planning', 'Visual Design', 'UX Design', 'Programming']
- var skills_values = [8,8,9,6,7,6,6,9]
