include /includes/_config

section#contact.alt-section.section-contact

  h3 Contact me
  
  .contact-container
  
    a(href="tel:0406112102").phone 0406 112 102

    hr.bar
    
    a(href="mailto:fmartins.ba@gmail.com").email fmartins.ba@gmail.com
