footer
  .lockup
    //- .logo
    //-   include /includes/icons/logo.html
  
    .content-wrap
      nav
        a(href="#about") About me
        a(href="#work") Work
        a(href="#clients") Clients
        a(href="#contact") Contact
        
      p.copyright All content copyright 2016
