include /includes/_config

section#work.alt-section.section-work

  h3 Work
  
  .work-belt
  
    .thumb-wrap
      .thumb-container
      
        a.thumb-unit.thumb-1
          .thumb-overlay
            strong A&M Hamadache
            .zoom-icon

        a.thumb-unit.thumb-2
          .thumb-overlay
            strong Alves & Vilela Lawyer Consulting
            .zoom-icon
            
        a.thumb-unit.thumb-3
          .thumb-overlay
            strong OEM GPS Australia
            .zoom-icon
            
        a.thumb-unit.thumb-4
          .thumb-overlay
            strong The Toymaker Classic Automobiles
            .zoom-icon

    .work-wrap
      .work-container
        .work-return
        .project-1
          h4
            a(href="http://www.amhamadache.com.au/", target="_blank") A&M Hamadache
          img(src="assets/images/works/project1/slide1.png", alt="")
          //- p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          img(src="assets/images/works/project1/slide2.png", alt="")
          //- p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          img(src="assets/images/works/project1/slide3.png", alt="")
          //- p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          img(src="assets/images/works/project1/service.png", alt="")
          //- p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          img(src="assets/images/works/project1/milestones.png", alt="")
          //- p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          img(src="assets/images/works/project1/works.png", alt="")
          //- p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          img(src="assets/images/works/project1/quote.png", alt="")
          //- p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        .project-2
          h4 
            a(href="http://www.alvesvilela.com.br/", target="_blank") Alves & Vilela Lawyer Consulting
          img(src="assets/images/works/project2/header.png", alt="")
          //- p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          img(src="assets/images/works/project2/about.png", alt="")
          //- p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          img(src="assets/images/works/project2/services.png", alt="")
          //- p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          img(src="assets/images/works/project2/cta.png", alt="")
          //- p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          img(src="assets/images/works/project2/faq.png", alt="")
          //- p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          img(src="assets/images/works/project2/contact.png", alt="")
          //- p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        .project-3
          h4 
            a(href="http://www.oemgpsaustralia.com.au/", target="_blank") OEM GPS Australia
          img(src="assets/images/works/project3/home.png", alt="")
          //- p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          img(src="assets/images/works/project3/responsive.png", alt="")
          //- p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          img(src="assets/images/works/project3/shop.png", alt="")
          //- p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          img(src="assets/images/works/project3/product.png", alt="")
          //- p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          img(src="assets/images/works/project3/cart.png", alt="")
          //- p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        .project-4
          h4
            a(href="http://www.toymaker.net.au/", target="_blank") The Toymaker Classic Automobiles
          img(src="assets/images/works/project4/header.png", alt="")
          //- p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          img(src="assets/images/works/project4/about.png", alt="")
          //- p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          img(src="assets/images/works/project4/services.png", alt="")
          //- p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          img(src="assets/images/works/project4/projects.png", alt="")
          //- p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          img(src="assets/images/works/project4/articles.png", alt="")
          //- p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          img(src="assets/images/works/project4/contact.png", alt="")
          //- p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
